<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072742541981-9rn4e94dtetch28132l9t57bfqavh61m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072742541981-9rn4e94dtetch28132l9t57bfqavh61m</string>
	<key>API_KEY</key>
	<string>AIzaSyDoBDyTVx6MUNlShN64gf4HBM9p-VMC4t8</string>
	<key>GCM_SENDER_ID</key>
	<string>1072742541981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atl.Factt</string>
	<key>PROJECT_ID</key>
	<string>factt2022</string>
	<key>STORAGE_BUCKET</key>
	<string>factt2022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072742541981:ios:c35e5f8fd84bfa28b04274</string>
</dict>
</plist>